<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test1">
        <parameter name="arrayValues" value="(1+2)×3−40÷5="></parameter>
        <parameter name="expect" value="1"></parameter>
    <classes>
        <class name ="test1"></class>
    </classes>
    </test>
    <test name="test4">
        <parameter name="arrayValues" value="6÷0="></parameter>
        <parameter name="expect" value="Infinity"></parameter>
     <classes>
        <class name ="test1"></class>
     </classes>
    </test>
    <test name="test5">
        <parameter name="arrayValues" value="sin="></parameter>
        <parameter name="expect" value="Error"></parameter>
        <classes>
            <class name ="test1"></class>
        </classes>
    </test>

</suite>